body{
	background-image: url("../img/placebackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
header{
	background: rgba(255,255,255,0.5);
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
#places{
	margin-left: 55px;
}
#place{
	background: rgba(255,228,189,0.5);
	height: 300px;
	margin: 20px;
	padding: 1em;
}
#place>a>img{
	transform: scale(1);
	transition: .3s ease-in-out;
	margin-top: 10%;
}
#place>a:hover>img{
	transform: scale(1.1);
}
@media screen and (min-width: 992px){
	.row2{
		margin-left: 18%;
	}
}
@media screen and (min-width: 768px) and (max-width:991px ){
	.singapore{
		left: 20%;
	}
}
@media screen and (min-width: 480px) and (max-width: 765px){
	#place>a>img{
		max-height: 220px;
	}
}